#user_tags_title_bar {
    display: flex;
    align-items: center;
    gap: 20px;
}
#categories_grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding-inline-start: 0;
    gap: 10px;
}