section#edit-tag {
	margin-top: 75px;
}
#user_tags_title_bar {
	display: flex;
	align-items: center;
	gap: 20px;
}
#cat_list {
	display: flex;
	flex-wrap: wrap;
	padding-inline-start: 0;
	gap: 10px;
}
.error {
	color: red;
}
