#profile-about {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	margin-top: 1rem;

	button#confirm-changes {
		display: block;
	}

	button#edit-about-btn,
	button#confirm-changes {
		padding: 3px 0 0;
	}
}
