div#profile-pic {
	.error {
		color: red;
	}

	img {
		display: block;
	}

	img#pfp {
		max-height: 150px;
		width: auto;
	}

	#new-pic-upload-label {
		margin-top: 0.5rem;
		width: fit-content;
	}

	#upload-btn {
		padding: 0;
	}
}
