---
interface Props {
	Title: string
}

const { Title: title } = Astro.props
let user = Astro.cookies.get('user')?.value
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content='Open Internet Treasure Map' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>
	<nav>
		<a href='/'>Home</a>
		<a href='/about'>About</a>
		{
			user ? (
			<a href=`/map/${user}` id="user-tmap-link">{user}</a>) : (<a href='/login' id="login-link">Login</a>)
		}
	</nav>
	<body>
		<slot />
	</body>
	<footer>
		<a href='/feedback'>Leave Feedback</a>
	</footer>

	<style is:global>
		:root {
			--accent: 136, 58, 234;
			--accent-light: 224, 204, 250;
			--accent-dark: 49, 10, 101;
			--accent-gradient: linear-gradient(
				45deg,
				rgb(var(--accent)),
				rgb(var(--accent-light)) 30%,
				white 60%
			);
		}
		html {
			font-family: system-ui, sans-serif;
			background: #13151a;
			background-size: 224px;
		}
		nav,
		footer {
			max-width: 1080px;
			margin: 0 auto;
			padding: 1rem;
		}
		nav :is(#user-tmap-link, #login-link) {
			float: right;
		}
		main {
			margin: auto;
			padding: 1rem;
			width: 800px;
			max-width: calc(100% - 2rem);
			color: white;
			font-size: 20px;
			line-height: 1.6;
		}
		h1 {
			font-size: 4rem;
			font-weight: 700;
			line-height: 1;
			text-align: center;
		}
		h2, h3, h4, h5, h6 {
			margin: 0;
		}
		h2.subtitle {
			font-size: 1rem;
			margin-bottom: 50px;
			text-align: center;
		}
		h2.subtitle.bg {
			background: rgba(var(--accent-light), 5%);
			padding: 3px;
		}
		code {
			font-family:
				Menlo,
				Monaco,
				Lucida Console,
				Liberation Mono,
				DejaVu Sans Mono,
				Bitstream Vera Sans Mono,
				Courier New,
				monospace;
		}
		section {
			margin: 50px 0;
		}
		button.img-btn {
			padding: 3px 5px 0px;
			background-color: transparent;
			border: none;
			cursor: pointer;
		}
		button.img-btn img.invert {
			filter: invert(1);
		}

	</style>


</html>
