<h3>Marooned Links</h3>
<p>A <em>marooned</em> link is one having a tag cat that is intended to mean the same thing as another cat but differs subtly and prevents ideal grouping.</p>
<p>Marooned links can be hard to search for. They basically are secluded on a remote island.</p>
<p>For example, say that "videos" is a common cat. Tagging a link with cat "video" may make it hard to find because people looking for videos are likely to filter their searches using the more common "videos" cat.</p>
<p>Some tips to avoid marooning and improve link visibility:</p>
<ul>
    <li>If part of a group, prefer to describe the group (e.g., video<strong>s</strong>) over the individual (video)</li>
    <li>Prefer "and" over "&" unless part of a proper noun</li>
    <li>Prefer lowercase unless part of an acronym or proper noun</li>
</ul>