---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout Title='Page Not Found'>
<main>
    <h1>Yarr! Ye seem to be lost.</h1>
    <p>The page you were looking for could not be found.</p>
</main>
</BaseLayout>