---
import { Image } from 'astro:assets'
import cornucopia from '../../public/cornucopia.png'
import ScrollUp from '../components/ScrollUp.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout Title='OITM Frequently Asked Questions'>
	<main>
		<h1>About OITM</h1>
		<Image src={cornucopia} alt='a cornucopia of links' />
		<section>
			<p>
				The <strong>Open Internet Treasure Map (OITM)</strong>
				is a tool for sharing valuable Internet content. It seeks to defeat
				the challenges of high obscurity and resultingly low discoverability
				of key resources; to announce the whereabouts of delicious flavors
				throughout the web's sprawling contents.
			</p>
			<p>
				"Treasure" is intentionally vague. This site is about sharing or
				discovering anything on the Internet that's worth sharing or
				discovering.
			</p>
		</section>

		<section>
			<h3>"But Search Engines?"</h3>
			<p>
				Search engines help a bit with the problem of indexing the web,
				but they don't think like people so they&apos;re limited as personal aides.
			</p>
			<p>
				For example, high SEO is not always relevant to content quality.
				<a href="http://www.ronjarzombek.com/">Awesome things on the web are occasionally served unencrypted</a>,
				or in HTML markup that is semantically barebones, and will often be buried in
				search results for it. Searchers who care more
				about novelty than presentation of results are not well served by this approach.
			</p>
			<p>
				Search engines also are incentivized to promote results from the
				highest bidders. Depending on who you ask, this may be a
				feature and not a bug. But some will consider the profiles behind
				some of their favorite links and conclude that a big budget and
				marketing passion do not reliably indicate high quality.
			</p>
			<p>
				Arguably, a simple enough proxy for quality is the number of
				people who decide, for one reason or another, to upvote a link. It's then trivial to find
				good content by 
				sorting on like count.
			</p>
			<p>
				But typically results are also meant to be specific to some topic (you know, the one you searched for). In OITM, links are tagged with 1+ categories. You can stack desired categories in
				searches to efficiently and reliably find pages that match some
				theme(s). More on that later.
			</p>
		</section>

		<section>
			<h3>"Reddit?"</h3>
			<p>
				Some might argue that this purpose has been achieved (done well,
				and for a long time, even) by Reddit.
			</p>
			<p>
				Reddit is an inspiration to OITM. It is an invaluable resource
				and a blessing to the internet. However, these tools are
				different in that OITM is primarily a <em>data</em> hub while Reddit is
				primarily a <em>communication</em> hub. OITM is not meant for topical
				discussion. OITM is meant only for web resource sharing and
				discovery.
			</p>
			<p>
				OITM also aims to use category stacking to serve users
				interested in <em>intersecting</em> themes while Reddit is home
				to communities defined by a <em>single</em> theme. Traditional WWW
				searches make it hard to find sites that appeal to multiple
				interests at once, especially if they aren't common or obviously
				related. For example, if you like coding and heavy metal.
				However, if such a site exists and has been catalogued on OITM,
				you can find it very easily by adding "coding" and "heavy metal"
				as category filters to your search.
			</p>
		</section>

		<section>
			<h2>Core Actions</h2>
			<ol>
				<li><strong>Summarize</strong></li>
				<li><strong>Copy</strong></li>
				<li><strong>Like</strong></li>
				<li><strong>Tag</strong></li>
			</ol>

			<p>
				These will help you to develop a mightily valuable treasure map.
			</p>

			<h3 class="subsection">Summarize</h3>
			<p>
				Every link added to OITM has a summary page where any user can
				submit their summary of its content. Summaries can be upvoted,
				making the most liked ones the most visible.
			</p>
			<p>
				A link's top summary will be shown above its URL at all times to
				quickly give a sense for what it is.
			</p>

			<h3 class="subsection">Copy</h3>
			<p>
				<strong>Copying</strong> a link to your Treasure Map is about improving
				discoverability via proliferation. It allows you to easily find a
				link again or let others find it by reading your Treasure Map.
			</p>

			<h3 class="subsection">Like</h3>
			<p>
				<strong>Liking</strong> is about improving discoverability via corroboration.
				It's a way to vouch for the "goodness" (comprehensiveness, authenticity, hilarity,
				etc.) of a link without needing to pin it to your Treasure Map and take up space there.
			</p>
			<p>
				Liking allows great content to filter to the top of searches,
				allowing other users&mdash;even those who don't know to check your
				Treasure Map&mdash;to find it easily.
			</p>

			<h3 class="subsection">Tag</h3>
			<p>
				<strong>Tagging</strong> a link is about improving discoverability
				via filtration. A tag represents a user's interpretation about how
				a link's content should be categorized. Tag categories can be used
				to narrow searches.
			</p>
			<p>
				Obviously not everyone agrees on preferred categorizations of
				various links. Each user is invited to tag any link however they
				see fit.
			</p>
			<p>
				Any <em>user-submitted tag</em>, i.e., a user's categorization(s) of some link,
				dictates how that link will be indexed on their Treasure Map. By contrast, links are indexed using <em>global tags</em> in <a href="#global">Global Treaure Map</a> searches.
			</p>

			<h3>Cats?</h3>
			<p>You may see the term <em>"cats"</em> thrown around. It&apos;s a shorthand for <em>tag categories</em> but is also meant as a nod to the <a href="https://en.wikipedia.org/wiki/I_Can_Has_Cheezburger%3F">historical prominence of cats in Internet culture</a>.</p>
		</section>
		<section>
			<h2 id="global">The Global Treasure Map and Global Tags</h2>
			<p>
				Each link is also associated with a <strong>global tag</strong>,
				which filters the results of Global Treasure Map searches. (Outside of any single
				user's map. For example, on the <a
				href='http://localhost:4321/top?period=week'>Top Rated (Week)</a
			> page.)
			</p>
			<p>
				<em>Global tags</em> are calculated automatically by the age of every
				<em>user-submitted tag</em> and the frequency of each cat across
				them.
			</p>
			<p>
				The assumption is that repeated categorizations are more likely to be
				universally pleasing, as are categorizations that have remained unedited
				for a long time.
			</p>
		</section>
		<section>
			<h2>Additional Notes</h2>

			<h3>Profile Pic Upload</h3>
			<p>File format: .JPG, .JPEG, .PNG, .WEBP</p>
			<p>File size: &le;10MB</p>
			<p>
				Aspect ratio: 0.5:1 &dash; 2:1
			</p>

			<h3>Global Tag Calculation</h3>
			<p>Note: probably will rethink this soon, so dont write too much...</p>
			<p>To be added to a link&apos;s global tags, a cat that it has been tagged with must hold a score greater than or equal to 50% of the highest cat score for that link.</p>
			<p>Scores for each cat are calculated by combining the weights of all occurences. Weights are calculated as lifespan overlap percentage divided by number of cats for that tag. lifespan overlap percentage is the portion of the link&apos;s lifepan during which that tag has remained in its current state with no further edits.</p>
		</section>

		<ScrollUp />
	</main>
</Layout>

<style>
	img {
		display: flex;
		margin: 0 auto;
	}
	.subsection {
		margin-top: 50px;
	}

	@media (min-width: 375px) {
		.subsection {
			margin-top: 75px;
		}
	}
</style>
