---
import { Image } from 'astro:assets'
import cornucopia from '../../public/cornucopia.png'
import search_diagram from '../../public/search_diagram.webp'
import search_diagram_narrow from '../../public/search_diagram_narrow.webp'
import ScrollUp from '../components/ScrollUp.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout Title='About FITM'>
	<main>
		<h1>About</h1>
		<Image id="cornucopia" src={cornucopia} alt='a cornucopia of links' />
		<section>
			<p>
				The <strong>Flexible Internet Treasure Map (FITM)</strong>
				is a tool for sharing valuable Internet content. You can use it to efficiently find key resources hidden throughout the sprawling web, or share ones you think other people should know about.
			</p>
			<p>It is an attempted solution to
				the challenges of high obscurity and resultingly low discoverability
				of Internet greatness, both new and old. </p>
			<p>
				<em>Treasure</em> is intentionally vague. This site is about sharing or
				discovering anything on the Internet that's worth sharing or
				discovering.
			</p>
		</section>

		<section>
			<h2>How FITM Works</h2>

			<h3 id="cats" class="subsection">Cats?</h3>
			<p>The term <em>"cats"</em> is used often here. It&apos;s a shorthand for <em><a href="#tags">tag categories</a></em>. Cats are also a <a href="https://en.wikipedia.org/wiki/I_Can_Has_Cheezburger%3F">historically prominent Internet symbol</a>, so it seems fitting that they'd help run FITM.</p>

			<p>Please don't be alarmed by mention of "stacking cats" or things of that nature. No animals were harmed in making this site.</p>

			<p>In FITM searches, the top (most frequent) cats will be listed along with returned links matching your desired parameters. Searches with cat filters return top <em>subcats</em>. In other words, the most frequent cats found across the subsection of links returned in your search, not including your given cat filter(s).</p>

			<Image id="search-diagram" src={search_diagram} alt='a diagram of how FITM searches work' quality="high" />

			<Image id="search-diagram-narrow" src={search_diagram_narrow} alt='a diagram of how FITM searches work' quality="high" />

			<h3 id="core-actions" class="subsection">Core Actions</h3>
			<ol>
				<li><strong>Summarize</strong></li>
				<li><strong>Copy</strong></li>
				<li><strong>Like</strong></li>
				<li><strong>Tag</strong></li>
			</ol>

			<h3 class="subsection">Summarize</h3>
			<p>
				Every link added to FITM has a summary page where any user can
				submit their summary of its content. Summaries can be upvoted,
				making the most liked ones the most visible.
			</p>
			<p>
				A link's top summary will be shown above its URL at all times to
				quickly give a sense for what it is.
			</p>

			<h3 class="subsection">Copy</h3>
			<p>
				<strong>Copying</strong> a link to your Treasure Map is about improving
				discoverability via proliferation. It allows you to easily find a
				link again or let others find it by reading your Treasure Map.
			</p>

			<h3 class="subsection">Like</h3>
			<p>
				<strong>Liking</strong> is about improving discoverability via corroboration.
				It's a way to vouch for the "goodness" (comprehensiveness, authenticity, hilarity,
				etc.) of a link without needing to pin it to your Treasure Map and take up space there.
			</p>
			<p>
				Liking allows great content to filter to the top of searches,
				allowing other users&mdash;even those who don't know to check your
				Treasure Map&mdash;to find it easily.
			</p>

			<h3 id="tags" class="subsection">Tag</h3>
			<p>
				<strong>Tagging</strong> a link is about improving discoverability
				via filtration. A tag is a list of categories, chosen by a user, that a certain link is thought to embody. It represents that user's interpretation of the link's content. Tag cats can be used
				to narrow searches.
			</p>
			<p>
				Obviously not everyone agrees on preferred categorizations of
				various links. Each user is invited to tag any link however they
				see fit.
			</p>
			<p>
				Any <em>user-submitted tag</em>, i.e., a user's categorization(s) of some link,
				dictates how that link will be indexed on <em>their</em> Treasure Map. By contrast, links are indexed using <em>global tags</em> in Global Treasure Map searches.
			</p>
		</section>
		<section>

			<h3> The Global Treasure Map and Global Tags</h3>
			<p>
				Each link is also associated with a <em>global tag</em>,
				which filters the results of searches made outside of any single
				user's map (i.e., on the <a
				href='/top'>Top</a
			> page).
			</p>
			<p>
				<em>Global tags</em> are calculated automatically by the age of every
				<em>user-submitted tag</em> and the frequency of each cat across
				them. They are shown with each link. (Unless the link is viewed from a user's Treasure Map. Then it will show <em>that</em> user's tag.) You can also view any link's top user-submitted tags on demand.
			</p>

			<p>Each user-submitted tag shows its lifespan overlap percentage (see <a href="#global-tag-calculation">Global Tag Calculation</a> below), author, date of submission, and cats, of course. Tags that have remained in their current configuration for the greatest portion of the link's lifespan are ranked highest.</p>

			<p>Not only the cats contained in the top tag rankings may be assigned globally. If a large number of more recent tags contain different cats, it's likely that those too will be assigned and may even replace ones from longstanding tags.</p>

			<p>The assumption is that cat interpretations that remain unedited
				for a long time or that reappear across tags are most likely to be good fits.</p>

			<p>A long-unchanged tag could be bad, but if enough users disagree and submit alternative tags, their collective input will rule it out; the old tag's cats will be stripped from the link's global tag.</p>
		</section>

		<section>
			<h2>What's the Point?</h2>
			<p>Why should you use FITM? What problems does it address that existing search or sharing tools don't?</p>
			<h3 class="subsection">Search Engines</h3>
			<p>
				Search engines help with indexing the web,
				but they don't think like people so they&apos;re limited in ability to understand your wishes and make useful recommendations.
			</p>
			<p>
				<abbr title="Search Engine Optimization">SEO</abbr> is not always relevant to content quality.
				Awesome things on the web are sometimes absent in search results because they are served unencrypted,
				or in less semantic HTML markup, or because they&apos;re a few years old. Or, maybe a site ranks highly given specific search terms but is otherwise quite hard to discover. How could you even know to search for something <a href="https://presidentialham.com/">like this</a>? (safe for work.) Users who care most
				about result novelty than presentation don&apos;t necessarily benefit from SEO-driven rankings.
			</p>
			<p>
				Search engines also are incentivized to promote results from
				high-paying bidders. Maybe this is a
				feature, not a bug, depending on who you ask. Do big budgets and marketing passion reliably produce high quality web content? If you're not sure about that, you may be in the right place. (You will never see ads on FITM).
			</p>
			<p>
				Arguably, a simple enough proxy for a link's quality is the number of
				<em>people</em> who decide, for one reason or another, to upvote it. It's then trivial to find good content by sorting on like count.
			</p>
			<p>
				But, of course, like count alone is not enough. Searches are also generally only meant to be about a specific topic. In FITM, links are tagged with 1+ <em><a href="#cats">cats</a></em>. You can stack desired cats in
				searches to efficiently and reliably find pages that match some
				theme(s). You can also specify a time period (last day, week, month, or year) during which the returned links must have been posted.
			</p>

			<h3 class="subsection">Reddit</h3>
			<p>
				Some might argue that the goal of categorizing web content was achieved years ago by Reddit.
			</p>
			<p>
				Reddit is an invaluable resource
				and a blessing to the internet. It is an inspiration to FITM. But they are
				different in that Reddit is
				primarily a <em>communication</em> hub while FITM is primarily a <em>data</em> hub. FITM is not meant for topical
				discussion, only web resource sharing and
				discovery (with a few text submission actions in support of that goal: see <a href="#core-actions">Core Actions</a> above).
			</p>
			<p>
				FITM also aims to use <em><a href="#cats">cat-stacking</a></em> to serve users
				interested in <em>intersecting</em> themes while Reddit is home
				to communities defined by a <em>single</em> theme. Traditional WWW
				searches make it hard to find sites that appeal to multiple
				interests at once, especially if they aren't common or obviously
				related.
			</p>
		</section>

		<section>
			<h2>Additional Notes</h2>

			<h3 id="global-tag-calculation" class="subsection">Global Tag Calculation</h3>
			<p>Note: <a href="/feedback">constructive criticism welcomed</a> for this system.</p>
			<p>For a cat to be added to link <code>L</code>'s global tags, it's <em>score</em> must be &ge;25% of the highest score among <code>L</code>'s cats.</p>
			<p><em>Scores</em> for cat <code>C</code> of link <code>L</code> are calculated as the sum of scores from each occurence of <code>C</code> in one of <code>L</code>'s tags. Each score is weighted by the number of cats in the tag containing the occurence.</p>
			<p>Weights for tag <code>T</code> are calculated as <em>lifespan overlap percentage</em> of <code>T</code>, divided by <code>T</code>'s number of cats. </p>
			<p>Lifespan overlap percentage for tag <code>T</code> of link <code>L</code> is the percentage of <code>L</code>'s time on FITM that  <code>T</code> has remained in its current state since creation or last edit.</p>
		</section>

		<ScrollUp />
	</main>
</BaseLayout>

<style>
	section {
		padding: 2rem 0;
	}
	img {
		display: flex;
		margin: 0 auto;
	}

	img#cornucopia {
		max-height: 150px;
	}
	img#search-diagram-narrow,
	img#search-diagram {
		margin-top: 2rem;
		max-height: 500px;
	}
	img#search-diagram {
		display: none;
	}
	.subsection {
		margin-top: 2rem;
	}

	section h2 + h3.subsection {
		margin-top: 0;
	}

	@media (min-width: 680px) {
		img#cornucopia {
			max-height: 200px;
		}

		img#search-diagram-narrow {
			display: none;
		}

		img#search-diagram {
			display: block;
		}
	}
</style>
