---
import { Image } from 'astro:assets'
import cornucopia from '../../public/cornucopia.png'
import Layout from '../layouts/Layout.astro'
---

<Layout Title='OITM Frequently Asked Questions'>
	<main>
		<h1>About OITM</h1>
		<Image src={cornucopia} alt='a cornucopia of links' />
		<section>
			<p>
				The <strong>Open Internet Treasure Map (OITM)</strong> is a tool
				for sharing valuable Internet content. It seeks to defeat the challenges
				of high obscurity and resultingly low discoverability of key resources;
				to announce the whereabouts of those delicious flavors within the
				web's sprawling contents.
			</p>
			<p>
				"Treasure" is intentionally vague. This site is about sharing or
				discovering anything on the Internet that's worth sharing or
				discovering.
			</p>
			<h3>"But Search Engines?"</h3>
			<p>
				Search engines help a bit with the problem of indexing the web,
				but they don't think like people.
			</p>
			<p>
				For example, high SEO is not always relevant to content quality.
				Great <a href='https://www.paulgraham.com/makersschedule.html'
					>blog posts</a
				>, <a href='https://www.fffuel.co/'>powerful utilities</a>,
				videos, memes, and other rarities are occasionally served
				unencrypted, or in HTML markup that is semantically barebones
				and therefore less intelligible to assistive technologies. They
				may be buried in search results for this, to the detriment of
				any user who cares more about the novelty of the content than
				its presentation.
			</p>
			<p>
				Search engines also are incentivized to promote results from the
				highest bidders. Probably some enjoy this filter. Others may
				estimate the enterprising profile of some of the most wonderful
				sites and conclude that available advertisement funding and a
				desire for marketing do not reliably foretell of high site
				quality.
			</p>
			<p>
				Arguably, a simple enough proxy for quality is the number of
				people who publicly 'like' a link. With that, we can easily find
				great content at will by searching for the most liked ones. But
				we typically want some boundaries to searches,
				obviously&mdash;not just fetching from everything that's ever
				existed on the internet.
			</p>
			<p>
				By tagging links with categories, which can then be used to
				filter searches, the chore of finding something good becomes
				more manageable. The purpose of OITM is to combine category
				filters and like filters to efficiently search user-submitted
				links. And to find lots of treasure!
			</p>
			<h3>"Reddit?"</h3>
			<p>
				Some might argue that this purpose has been achieved (done well,
				and for a long time) by Reddit.
			</p>
			<p>
				OITM was inspired greatly by Reddit. Reddit is an awesome
				resource for content sharing and has been incredibly valuable
				for the internet. However, these tools are different in that
				OITM is primarily a data hub while Reddit is primarily a
				communication hub. OITM is not meant for topical discussion.
				OITM is meant only for web resource sharing and discovery.
			</p>
		</section>

		<section>
			<h2>Core Features</h2>
			<p><strong>Summarize</strong></p>
			<p><strong>Copy to Treasure Map</strong></p>
			<p><strong>Like</strong></p>
			<p><strong>Tag</strong></p>

			<p>
				Each plays a different part in helping Internet treasure hunters
				to build immensely informative Treasure Maps.
			</p>
			<h3>Summarize</h3>
			<p>
				Every link added to OITM has a summary page where any user can
				submit their summary of its content. Summaries can be upvoted to
				allow the "best" to filter to the top of the page.
			</p>
			<p>
				A link's top summary will be shown above its URL at all times to
				quickly give a sense for what it is.
			</p>
			<h3>Copy</h3>
			<p>
				<strong>Copying</strong> a link to your Treasure Map is about improving
				discoverability via proliferation. It allows you to easily find a
				link again or let others&mdash;maybe those who know you or have similar
				interests to you&mdash;find it by reading your Treasure Map.
			</p>
			<h3>Like</h3>
			<p>
				<strong>Liking</strong> is about improving discoverability via corroboration.
				It's a way to vouch for the "goodness" (authenticity, hilarity, comprehensiveness,
				etc.) of a link without needing to save it to your Treasure Map.
				It allows great content to filter to the top of searches, helping
				more people&mdash;even those who don't know you&mdash;find it by
				reading the Global Treasure Map or yours.
			</p>
			<h3>Tag</h3>
			<p>
				<strong>Tagging</strong> a link is about improving discoverability
				via filtration. A tag represents a user's interpretation about how
				a link's content should be categorized. Tag categories can be used
				to narrow searches to desired topics.
			</p>
			<p>
				Internetters of course will disagree on their preferred
				categorization(s) for various links. Each is invited to tag any
				link however they see fit. Any user's tag, i.e., their
				categorization(s) for some link, is how that link will be
				represented in their Treasure Map.
			</p>
		</section>
		<section>
			<h2>The Global Treasure Map and Global Tags</h2>
			<p>
				Each link is also associated with a <strong>global tag</strong>,
				which filters the results of searches outside of any single
				user's Treasure Map (for example, on the <a
					href='http://localhost:4321/top/week'>Top Links this Week</a
				> page).
			</p>
			<p>
				Global tags are determined automatically by the age of every
				user-submitted tag and the frequency of each category across
				them<sup>*</sup>. So, tagging a link not only adds to their
				Treasure Map but also improves Global Treasure Map accuracy.
			</p>
			<p>
				*Categorizations that many users agree on are more likely to be
				universally relevant, as are those that have remained unedited
				for a long time.
			</p>
		</section>
	</main>
</Layout>

<style>
	img {
		display: flex;
		margin: 0 auto;
	}
	section {
		margin: 100px 0;
	}
	section:first-of-type {
		margin-top: 0;
	}
	h2,
	h3 {
		margin-top: 50px;
		text-align: center;
	}
</style>
