---
import { Image } from 'astro:assets'
import cornucopia from '../../public/cornucopia.png'
import ScrollUp from '../components/ScrollUp.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout Title='About FITM'>
	<main>
		<h1>About</h1>
		<Image src={cornucopia} alt='a cornucopia of links' />
		<section>
			<p>
				The <strong>Flexible Internet Treasure Map (FITM)</strong>
				is a tool for sharing valuable Internet content. You can use it to map the locations of key resources hidden throughout the sprawling web.
			</p>
			<p>It is an attempted solution to
				the challenges of high obscurity and resultingly low discoverability
				of Internet greatness, both new and old. </p>
			<p>
				<em>Treasure</em> is intentionally vague. This site is about sharing or
				discovering anything on the Internet that's worth sharing or
				discovering.
			</p>
		</section>

		<section>
			<h3>"But Search Engines?"</h3>
			<p>
				Search engines help a bit with indexing the web,
				but they don't think like people so they&apos;re limited as personal aides.
			</p>
			<p>
				For example, high <abbr title="Search Engine Optimization">SEO</abbr> is not always relevant to content quality.
				Awesome things on the web are sometimes absent in search results because they are served unencrypted
				or in less semantic HTML markup. Users who care more
				about result novelty than presentation don&apos;t benefit from this approach.
			</p>
			<p>
				Search engines also are incentivized to promote results from
				high-paying bidders. Maybe this is a
				feature, not a bug, depending on who you ask. Do big budgets and marketing passion reliably produce high quality web content? If you're not sure about that, you may be in the right place. (You will <em>never</em> see ads on FITM).
			</p>
			<p>
				Arguably, a simple enough proxy for a link's quality is the number of
				people who decide, for one reason or another, to upvote it. It's then trivial to find good content by sorting on like count.
			</p>
			<p>
				But, of course, results are also usually only meant to be about a specific topic (you know, the one you searched for). In FITM, links are tagged with 1+ <em><a href="#cats">cats</a></em>. You can stack desired cats in
				searches to efficiently and reliably find pages that match some
				theme(s).
			</p>
		</section>

		<section>
			<h3>"Reddit?"</h3>
			<p>
				Some might argue that this purpose has been achieved (done well,
				and for a long time, even) by Reddit.
			</p>
			<p>
				Reddit is an invaluable resource
				and a blessing to the internet. It is an inspiration to FITM. But they are
				different in that Reddit is
				primarily a <em>communication</em> hub while FITM is primarily a <em>data</em> hub. FITM is not meant for topical
				discussion, only web resource sharing and
				discovery (with a few text submission actions in support of that goal: see <a href="#core-actions">Core Actions</a> below).
			</p>
			<p>
				FITM also aims to use cat-stacking to serve users
				interested in <em>intersecting</em> themes while Reddit is home
				to communities defined by a <em>single</em> theme. Traditional WWW
				searches make it hard to find sites that appeal to multiple
				interests at once, especially if they aren't common or obviously
				related. For example, if you like coding and heavy metal T_T.
				However, if such a site exists and has been catalogued on FITM,
				you can find it very easily by adding "coding" and "heavy metal"
				as category filters to your search.
			</p>
		</section>

		<section>
			<h2>How FITM Works</h2>

			<h3 id="cats" class="subsection">Cats?</h3>
			<p>The term <em>"cats"</em> is used often here. It&apos;s a shorthand for <em><a href="#tags">tag categories</a></em>. Cats are also a <a href="https://en.wikipedia.org/wiki/I_Can_Has_Cheezburger%3F">historically prominent Internet symbol</a>, so it seems fitting that they'd help run FITM.</p>

			<p>Please don't be alarmed by mention of "stacking cats" or things of that nature. No animals were harmed in making this site.</p>

			<p>In FITM searches, the top (most frequent) cats will be listed along with returned links matching your desired parameters. Searches with cat filters return top <em>overlapping</em> cats. In other words, the most frequent cats found across the subsection of links returned in your search, not including your given cat filter(s). Tentatively these are called subcats.</p>

			<h3 id="core-actions" class="subsection">Core Actions</h3>
			<ol>
				<li><strong>Summarize</strong></li>
				<li><strong>Copy</strong></li>
				<li><strong>Like</strong></li>
				<li><strong>Tag</strong></li>
			</ol>

			<p>
				These will help you to develop valuable treasure maps, coveted across the lands.
			</p>

			<h3 class="subsection">Summarize</h3>
			<p>
				Every link added to FITM has a summary page where any user can
				submit their summary of its content. Summaries can be upvoted,
				making the most liked ones the most visible.
			</p>
			<p>
				A link's top summary will be shown above its URL at all times to
				quickly give a sense for what it is.
			</p>

			<h3 class="subsection">Copy</h3>
			<p>
				<strong>Copying</strong> a link to your Treasure Map is about improving
				discoverability via proliferation. It allows you to easily find a
				link again or let others find it by reading your Treasure Map.
			</p>

			<h3 class="subsection">Like</h3>
			<p>
				<strong>Liking</strong> is about improving discoverability via corroboration.
				It's a way to vouch for the "goodness" (comprehensiveness, authenticity, hilarity,
				etc.) of a link without needing to pin it to your Treasure Map and take up space there.
			</p>
			<p>
				Liking allows great content to filter to the top of searches,
				allowing other users&mdash;even those who don't know to check your
				Treasure Map&mdash;to find it easily.
			</p>

			<h3 id="tags" class="subsection">Tag</h3>
			<p>
				<strong>Tagging</strong> a link is about improving discoverability
				via filtration. A tag is a list of categories, chosen by a user, that a certain link is thought to embody. It represents that user's interpretation of the link's content. Tag cats can be used
				to narrow searches.
			</p>
			<p>
				Obviously not everyone agrees on preferred categorizations of
				various links. Each user is invited to tag any link however they
				see fit.
			</p>
			<p>
				Any <em>user-submitted tag</em>, i.e., a user's categorization(s) of some link,
				dictates how that link will be indexed on <em>their</em> Treasure Map. By contrast, links are indexed using <em>global tags</em> in Global Treasure Map searches.
			</p>
		</section>
		<section>

			<h3> The Global Treasure Map and Global Tags</h3>
			<p>
				Each link is also associated with a <em>global tag</em>,
				which filters the results of searches made outside of any single
				user's map. For example, on the <a
				href='/top?period=week'>Top Rated (Week)</a
			> page.
			</p>
			<p>
				<em>Global tags</em> are calculated automatically by the age of every
				<em>user-submitted tag</em> and the frequency of each cat across
				them. They are shown with each link. (Unless the link is viewed from a user's Treasure Map in which case it will show that user's tag.) You can also view any link's top user-submitted tags on demand.
			</p>

			<p>Each user-submitted tag shows its <em>lifespan overlap</em> percentage, author, date of submission, and cats, of course. (Tags that have remained in their current configuration for the greatest portion of the link's lifespan are ranked highest.)</p>

			<p>Not only the cats contained in the top tag rankings may be assigned globally. If a large number of more recent tags contain different cats, it's likely that those too will be assigned and may even replace ones from longstanding tags.</p>

			<p> The assumption is that cat interpretations that remain unedited
				for a long time are likely to be good, along with cats that reappear across tags.</p>

			<p>A long-unchanged tag could be bad, but if enough users disagree and submit alternative tags, their collective input will rule it out; the old tag's cats will be stripped from the link's global tag.</p>
		</section>

		<section>
			<h2>Additional Notes</h2>

			<h3>Profile Pic Upload</h3>
			<p>File format: .JPG, .JPEG, .PNG, .WEBP</p>
			<p>File size: &le;10MB</p>
			<p>
				Aspect ratio: 0.5:1 &dash; 2:1
			</p>

			<h3 class="subsection">Global Tag Calculation</h3>
			<p>Note: proposed alternatives for this system are allowed and encouraged. Please see the <a href="/feedback">feedback page</a> for FITM contact info.</p>
			<p>To be added to a link&apos;s global tags, a cat that it has been tagged with must hold a score greater than or equal to 25% of the highest cat score for that link.</p>
			<p>Scores for each cat are calculated by combining the weights of all occurences. Weights are calculated as lifespan overlap percentage divided by number of cats for that tag. lifespan overlap percentage is the portion of the link&apos;s lifepan during which that tag has remained in its current state with no further edits.</p>
		</section>

		<ScrollUp />
	</main>
</Layout>

<style>
	img {
		display: flex;
		margin: 0 auto;
		max-height: 150px;
	}
	.subsection {
		margin-top: 1rem;
	}

	@media (min-width: 680px) {
		img {
			max-height: 200px;
		}
	}
</style>
