---
import { Image } from 'astro:assets'
import cornucopia from '../../public/cornucopia.png'
import Layout from '../layouts/Layout.astro'
---

<Layout Title='OITM Frequently Asked Questions'>
	<main>
		<h1>About OITM</h1>
		<Image src={cornucopia} alt='a cornucopia of links' />
		<section>
			<p>
				The <strong>Open Internet Treasure Map (OITM)</strong>
				is a tool for sharing valuable Internet content. It seeks to defeat
				the challenges of high obscurity and resultingly low discoverability
				of key resources; to announce the whereabouts of delicious flavors
				throughout the web's sprawling contents.
			</p>
			<p>
				"Treasure" is intentionally vague. This site is about sharing or
				discovering anything on the Internet that's worth sharing or
				discovering.
			</p>
			<h3>"But Search Engines?"</h3>
			<p>
				Search engines help a bit with the problem of indexing the web,
				but they don't think like people.
			</p>
			<p>
				For example, high SEO is not always relevant to content quality.
				Awesome things on the web are occasionally served unencrypted,
				or in HTML markup that is semantically barebones and therefore
				less intelligible to assistive technologies. It may be buried in
				search results for this, to the detriment of users who care more
				about the content novelty than presentation.
			</p>
			<p>
				Search engines also are incentivized to promote results from the
				highest bidders. Depending on who you ask, this may be a
				desireable feature. But some will consider the profiles behind
				some of their favorite links and conclude that a big budget and
				marketing passion do not reliably indicate high quality.
			</p>
			<p>
				Arguably, a simple enough proxy for quality is the number of
				people who will publicly 'like' a link. It's trivial to find
				great content at will by simply upvoting good links and
				filtering for the most liked.
			</p>
			<p>
				But we typically also want only results that are relevant to
				some specific topic. In OITM, links can be tagged with one or
				more categories. Visitors can stack desired categories in
				searches to efficiently and reliably find pages that match some
				theme(s). More on that later.
			</p>
			<h3>"Reddit?"</h3>
			<p>
				Some might argue that this purpose has been achieved (done well,
				and for a long time, even) by Reddit.
			</p>
			<p>
				Reddit is an inspiration to OITM. It is an invaluable resource
				and a blessing to the internet. However, these tools are
				different in that OITM is primarily a data hub while Reddit is
				primarily a communication hub. OITM is not meant for topical
				discussion. OITM is meant only for web resource sharing and
				discovery.
			</p>
			<p>
				Additionally, OITM aims to use category stacking to serve users
				interested in various intersecting themes while Reddit is home
				to communities defined by a single theme. Traditional WWW
				searches make it hard to find sites that appeal to multiple
				interests at once, especially if they aren't common or obviously
				related. For example, if you like coding and heavy metal.
				However, if such a site exists and has been catalogued on OITM,
				you can find it very easily by adding "coding" and "heavy metal"
				as category filters to your search.
			</p>
		</section>

		<section>
			<h2>Core Treasure Hunting Actions</h2>
			<ol id='actions'>
				<li><strong>Summarize</strong></li>
				<li><strong>Copy to Treasure Map</strong></li>
				<li><strong>Like</strong></li>
				<li><strong>Tag</strong></li>
			</ol>

			<p>
				These all play a useful part for Internet treasure hunters in
				building immensely valuable Treasure Maps.
			</p>
			<h3>Summarize</h3>
			<p>
				Every link added to OITM has a summary page where any user can
				submit their summary of its content. Summaries can be upvoted,
				bringing the most liked to the top.
			</p>
			<p>
				A link's top summary will be shown above its URL at all times to
				quickly give a sense for what it is.
			</p>
			<h3>Copy</h3>
			<p>
				<strong>Copying</strong> a link to your Treasure Map is about improving
				discoverability via proliferation. It allows you to easily find a
				link again or let others find it by reading your Treasure Map.
			</p>
			<h3>Like</h3>
			<p>
				<strong>Liking</strong> is about improving discoverability via corroboration.
				It's a way to vouch for the "goodness" (authenticity, hilarity, comprehensiveness,
				etc.) of a link without needing to pin it to your Treasure Map.
			</p>
			<p>
				Liking allows great content to filter to the top of searches,
				helping people&mdash;even those who don't know to browse your
				Treasure Map&mdash;find it in searches.
			</p>
			<h3>Tag</h3>
			<p>
				<strong>Tagging</strong> a link is about improving discoverability
				via filtration. A tag represents a user's interpretation about how
				a link's content should be categorized. Tag categories can be used
				to narrow searches to desired topics.
			</p>
			<p>
				Obviously not everyone agrees on preferred categorizations of
				various links. Each user is invited to tag any link however they
				see fit. Any tag, i.e., a user's categorization(s) of some link,
				dictates how that link will be shown on their Treasure Map.
			</p>
		</section>
		<section>
			<h2>The Global Treasure Map and Global Tags</h2>
			<p>
				Each link is also associated with a <strong>global tag</strong>,
				which filters the results of searches outside of any single
				user's Treasure Map (for example, on the <a
					href='http://localhost:4321/top/week'>Top Links this Week</a
				> page).
			</p>
			<p>
				Global tags are determined automatically by the age of every
				user-submitted tag and the frequency of each category across
				them<sup>*</sup>. So, tagging a link not only adds it to your
				Treasure Map but also improves Global Treasure Map accuracy.
			</p>
			<p>
				*Categorizations that many users agree on are more likely to be
				universally relevant, as are those that have remained unedited
				for a long time.
			</p>
		</section>
		<section>
			<h2>Additional Notes</h2>
			<h3>Profile Pic Upload</h3>
			<p>File format: .JPG, .JPEG, .PNG, .WEBP</p>
			<p>File size: &le;10MB</p>
			<p>
				Aspect ratio: between 0.5:1 and 2:1 (nothing too long and
				pointy)
			</p>
		</section>
	</main>
</Layout>

<style>
	img {
		display: flex;
		margin: 0 auto;
	}
	section {
		margin: 100px 0;
	}
	section:first-of-type {
		margin-top: 0;
	}
	h2,
	h3 {
		margin-top: 50px;
		text-align: center;
	}

	#actions {
		list-style: none;
		text-align: center;
	}
</style>
