---
import Layout from '../layouts/Layout.astro'
---

<Layout title='OITM Frequently Asked Questions'>
	<main>
		<h1>About OITM</h1>
		<h2>What is OITM?</h2>
		<p>
			The <strong>Open Internet Treasure Map (OITM)</strong> is a tool for
			sharing valuable Internet content. It seeks to overcome the challenges
			of high obscurity and low discoverability in order to confer the benefits
			of the vast collection of resources that we have access to, scattered
			across the web, to all Internet users.
		</p>

		<h2>Why Does it Exist?</h2>
		<p>
			Because there's a lot of good shit on the Internet that's hard to be
			aware of and, to a lesser extent, hard to find even when you know
			about it.
		</p>
		<h3>"I Thought That's What Search Engines Were For..."</h3>
		<p>
			Search engines help somewhat, but they are biased in favor of
			results that are optimized aggressively for SEO features (pretty
			irrelevant with regard to content quality; gaming SEO buries a lot
			of barebones but high-value material) or that offer the highest
			payment for promotion (again, irrelevant to, and arguably negatively
			correlated with, content quality).
		</p>
		<p>
			These conditions funnel engagement mainly to high-profile,
			established Internet entities rather than to new and/or varied
			sources. But, in the opinion of this site's author, the most
			well-known, "trusted" domains specialize in farming visitor
			engagement at the expense of overall Internet enjoyability and
			idea-generation potential. Search engines that favor these domains
			cannot be trusted to lead us to high-quality resources.
		</p>
		<p>
			Internet users deserve a direct portal into the web's most essential
			contents, as determined by simple popular vote rather than opaque,
			black-box algorithms that are, in all likelihood, guided by
			anti-intellectual bias.
		</p>

		<h2>Core Features: Copy to Treasure Map vs. Like vs. Tag</h2>
		<p>
			Though similar-sounding, these actions each serve a diffferent
			purpose for the Internet treasure hunter or archivist.
		</p>
		<h3>Copy</h3>
		<p>
			<strong>Copying</strong> a link to your Treasure Map is about improving
			discoverability via visibility. It allows you to easily find the link
			again or let others with similar interests find it by reading your Treasure
			Map.
		</p>
		<h3>Like</h3>
		<p>
			<strong>Liking</strong> is about improving discoverability via corroboration,
			allowing great content to filter to the top of searches and be found
			easily. It is a way to vouch for the "goodness" (authenticity, hilarity,
			comprehensiveness, etc.) of links that do not need to be kept readily
			available on your Treasure Map.
		</p>
		<h3>Tag</h3>
		<p>
			<strong>Tagging</strong> a link is about improving organization. A tag
			represents a user's interpretation about how a link's content should
			be categorized. Tags can be used to filter links in searches.
		</p>
		<p>
			Internetters are expected to often disagree on their preferred
			categorization(s) for a given link; each is invited to tag any link
			however they see fit. Then, their unique categorization(s) can be
			used to query for the link in their own Treasure Map using the most
			intuitive terms.
		</p>
		<p>
			Let's use "www.example.com" as an example. Sarah may tag the link as
			"funny" and Nigel may tag it as "example" and "reference." Sarah
			could then search her Treasure Map for "funny" or search Nigel's
			Treasure Map for "example" or "reference" to find the link.
		</p>
		<p>
			Each link is also associated with 1+ global categories, which are
			used to organize and query for links on the Global Treasure Map.
			Global categories are determined by the age and frequency of
			individual tag categorizations: categories that many users agree on
			are more likely to be universally relevant, as are categorizations
			that have remained unedited for a long time. So, tagging a link not
			only helps individuals organize Internet content but also everyone
			else who searches the Global Treasure Map.
		</p>
	</main>
</Layout>

<style></style>
