---
import Layout from '../layouts/Layout.astro'
---

<Layout Title='Leave Feedback for OITM'>
	<script>
		async function handle_feedback_submit(event: SubmitEvent) {
			event.preventDefault()

			const form = event.target as HTMLFormElement
			const formData = new FormData(form)
			const feedback = formData.get('feedback')

			// TODO: API endpoint / db table for collecting feedback
			const submit_feedback_resp = await fetch(
				'http://127.0.0.1:8000/feedback',
				{
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
					},
					body: JSON.stringify({
						feedback,
					}),
				}
			)
			const submit_feedback = await submit_feedback_resp.json()
			if (submit_feedback.status === 'success') {
				// TODO: thank-you-for-feedback page
				window.location.href = '/thank-you-for-feedback'
			}
		}

		document
			.getElementById('feedback_form')
			?.addEventListener('submit', (e) => handle_feedback_submit(e))
	</script>
	<main>
		<h1>Leave Feedback for OITM devs</h1>
		<h3>What do you like or not like about OITM?</h3>
		<h3>What changes would you like to see in the next update?</h3>
		<form id='feedback_form'>
			<label for='feedback'>Feedback</label>
			<textarea id='feedback' name='feedback'></textarea>
			<input type='submit' value='Submit' />
		</form>
	</main>
</Layout>

<style>
	.chest-backdrop {
		position: absolute;
		top: 1em;
		left: 50%;
		transform: translatex(-50%);
		width: 180px;
		height: auto;
		opacity: 0.25;
		z-index: -1;
	}
	#change-time-duration {
		font-size: 0.9rem;
		display: flex;

		p {
			margin-top: 0;
		}
	}
	.time-duration {
		margin-left: 0.5rem;
	}
</style>
