---
import NewLinks from '../components/Link/NewLinks.tsx'
import Layout from '../layouts/Layout.astro'

let token = Astro.cookies.get('token')?.value
let user = Astro.cookies.get('user')?.value

if (!token || !user) {
	Astro.cookies.set('redirect_to', Astro.url.pathname, {
		maxAge: 21600,
		path: '/login',
		sameSite: 'strict',
		secure: true,
	})
	return Astro.redirect('/login')
}
---

<Layout Title='Submit New Link'>
	<main>
		<h1>Submit New Links</h1>
		<section>
			<h2>Rules</h2>
			<p>
				Anything <a href="https://en.wikipedia.org/wiki/Not_safe_for_work">NSFW</a> must be tagged with cat <span id="example-cat" class="cat">"NSFW"</span>.
			</p>
		</section>

		<NewLinks client:load Token={token} User={user} />
	</main>
</Layout>

<style>
	#example-cat {
		display: inline;
		margin: 5px;
		color: black;
		font-weight: bold;
	}
	a {
		font-weight: bold;
	}
</style>
