---
import Link from '../../components/Link.astro'
import Layout from '../../layouts/Layout.astro'
import type { LinkData } from '../../types'

const { login_name } = Astro.params

const user_map_resp = await fetch(`http://127.0.0.1:8000/map/${login_name}`)
const user_map_links: LinkData[] = await user_map_resp.json()
// user found: [{URL: 'https://example.com', LikeCount: 100}, ...]
// no user found: []

if (user_map_links === null) {
	return Astro.redirect('/404')
}
---

<Layout title='Welcome to the Open Internet Treasure Map (OITM)'>
	<main>
		<h1>{login_name}'s Treasure Map</h1>
		<ul>
			{
				user_map_links !== null
					? user_map_links.map((link) => <Link link={link} />)
					: null
			}
		</ul>
	</main>
</Layout>

<style></style>
