form {
	label:is(#search-period, #search-sort-by, #search-cats) {
		display: inline;

		+ * {
			margin-left: 5px;
		}
	}
}

a#search-from-filters {
	display: block;
	width: fit-content;
	margin-top: 0.5rem;
}
